@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "MinhaFonte";
  src: url("../fontes/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

.flip-wrapper {
  perspective: 1000px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.flip-inner {
  position: relative;
  width: 100%;
  height: 400px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 20px;
  overflow: hidden;
}
.flip-inner.flipped {
  transform: rotateY(180deg);
}
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 20px;
}
.flip-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.flip-back {
  background-color: #111;
  color: #ffe224;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
}
.flip-back-content button {
  background-color: #ffe224;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.flip-back-content button:hover {
  background-color: #fff05e;
}
@keyframes trocaCor {
  0% {
    background-color: #0b1d52;
  }

  15% {
    background-color: rgb(10, 10, 70);
  }

  30% {
    background-color: #0b1d52;
  }

  45% {
    background-color: #040b30;
  }

  60% {
    background-color: #0b1d52;
  }

  75% {
    background-color: rgb(13, 13, 81);
  }

  100% {
    background-color: #0b1d52;
  }
}

#zoomText .palavra {
  display: inline-block;
  margin: 0 3px;
  transition: 0.5s ease;

  cursor: default;
  color: #ffffff;
}

#zoomText .palavra:hover {
  color: #ffe224;
  transform: scale(1.2);
  font-weight: bold;
  transition: 0.3s ease;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #ffe224;
}

a:hover {
  color: #ffffff;
  transition: 0.8;
}

body {
  font-family: "Montserrat", sans-serif;
  animation: trocaCor 10s linear infinite;
  height: 2500px;
  margin-top: 0.05px;
  text-align: justify;
  background-position: center;
}

#squad-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.position-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  /* 4 colunas */
  gap: 0px;
  width: 90%;
  margin: 200px auto 0 auto;
  margin: 100px auto;
  row-gap: 20px;
  transition: 1.3s;

  justify-items: center;
}
.goleiro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.defesa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.meio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.atacante-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.position-title {
  font-size: 44px;
  text-transform: uppercase;
  color: #fcd95c;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffe224;
  background-color: #001b3a;
  color: #ffd24a;
  text-align: center;

  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 25px rgba(11, 94, 215, 0.6);
  animation: zoomIn 0.3s ease;
  animation: fadeIn 0.3s ease-in-out;
  padding: 20px;
  height: auto;
  border-radius: 12px;
  transition: 0.8s;
}
.player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #ffe224;
  transition: 1.8s;
  animation: fadeIn 0.3s ease-in-out;
}

.player-card img {
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}
.player-card img:hover {
  width: 205px;
  border-radius: 10px;
}

section {
  padding: 20px 0;
}

.zoom-modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 60px;
  transition: 1.3s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: 0.3s ease;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  /* efeito vidro */
}

.zoom-modal:hover {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 60px;
  transition: 1.3s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-color: #ffe224;
  transition: 0.3s ease;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  /* efeito vidro */
  animation: fadeIn 0.3s ease-in-out;
}

#statsText {
  font-size: 1.4em;
  line-height: 1.8;
  margin-top: 20px;
  color: #ffe224;
}

.zoom-modal-content {
  margin: auto;
  padding: 10px;

  width: 80%;
  max-width: 500px;
  text-align: center;
  background-color: none;
  backdrop-filter: blur(15px);
  /* efeito de vidro */
  transition: 0.5s;
  max-height: 90vh; /* para dar rolagem se necessário */
  overflow-y: auto; /* ativa a rolagem vertical */
  padding-bottom: 100px; /* cria um "espaço extra" no fim */

  background-color: none;
  backdrop-filter: blur(15px);
  /* efeito vidro */
  transition: 0.5s;
  border: 2px solid none;
  box-shadow: 0 0 25px rgba(11, 94, 215, 0.6);
  animation: zoomIn 0.3s ease;
  color: none;
  border-radius: 10px;

  overflow: scroll;
}

.zoom-modal-content:hover {
  margin: auto;
  padding: 10px;
  padding-bottom: 100px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  background-color: none;
  backdrop-filter: blur(15px);
  /* efeito de vidro */
  transition: 0.5s;

  border: 2px solid #ffe224;

  color: none;
  border-radius: 20px;
}

.zoom-modal-content img {
  max-width: 100%;
  max-height: 80vh;
  margin-top: 20px;
  width: 50%;
  height: auto;
  object-fit: contain;
  border: 2px solid #003068;
  border-radius: 20px;
  transition: 0.5s;
}

.zoom-modal-content img:hover {
  max-width: 100%;
  max-height: 80vh;
  width: 50%;
  height: auto;
  object-fit: contain;
  transition: 0.5s;
  border: 2px solid #ffe224;
  border-radius: 20px;
}

.zoom-modal-content p {
  margin-top: 15px;
  font-size: 1.6em;
  font-family: "Montserrat";
  color: #ffe224;
}

.close {
  color: #ffe224;
  background-color: none;
  transition: 0.5s;
  font-size: 38px;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  padding-bottom: 20px;
}

.close:hover {
  color: #ff2424;
  background-color: none;
  font-size: 40px;
  transition: 0.5s;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.close-btn {
  color: #003068;
  background: none;
  border: 2px solid #003068;
  border-radius: 10px;
  font-size: 1.5vw;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.close-btn:hover {
  color: #000000;
  background: #ffe224;
  border: 2px solid #ffe224;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 1.5vw;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
}

.barranavegacao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  /* permite quebrar linha se o conteúdo for muito largo */
  gap: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* altura se adapta se os itens quebrarem linha */
  animation: trocaCor 10s linear infinite;
  color: black;
  padding: 30px 40px;
  /* usa padding lateral em vez de margin negativa */
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  word-spacing: 25px;
  letter-spacing: 1px;
  z-index: 1000;
  transition: all 1.3s ease;
  box-sizing: border-box;
}

.barranavegacao:hover {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 20px;
  font-weight: bold;
  transition: 1.3s;
  opacity: 0.8;
  transition: 1s ease;
}

#fotoperfil {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#titulo-elenco {
  display: flex;
  color: #ffe224;
  font-family: "Montserrat";
  font-style: bold;
  text-align: center;
  font-weight: 650;
  font-size: 7.5vw;
  margin-top: 9vw;
}

#titulo-elenco2 {
  display: flex;
  color: #ffe224;
  font-family: "Montserrat";
  font-weight: 150;
  text-align: center;
  font-size: 7.5vw;
  margin-top: 10vw;
}

.div-elenco {
  gap: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subtitulo-elenco {
  display: flex;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  margin-top: -5vw;
  justify-content: center;
  text-align: center;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 200;
}

#fotoleao {
  margin-top: 18vw;
  margin-left: 45vw;
  width: 150px;
  position: absolute;
}

#escudo {
  position: absolute;
  position: fixed;
  margin-left: 20px;
  transition: 1.3s;
  width: 100px;
  z-index: 99999;
}

#escudo:hover {
  position: absolute;
  position: fixed;
  margin-left: 20px;
  transition: 1.3s;
  width: 100px;
  z-index: 99999;
  cursor: pointer;
}

#img7 {
  border-radius: 1000px;
}

h3 {
  margin-bottom: -20px;
}

p {
  text-align: justify;
  text-indent: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}

#escudofundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  object-fit: cover;
}

.info {
  display: flex;
  margin-top: -50px;
  max-height: 90vh; /* para dar rolagem se necessário */
  overflow-y: auto; /* ativa a rolagem vertical */
  padding-bottom: 100px; /* cria um "espaço extra" no fim */
}

.info:hover {
  text-align: center;
  display: flex;
  margin-top: -50px;
}

.bio-btn {
  border: 2px solid none;
  background-color: none;
  padding: 5px;
  cursor: pointer;
}

.bio-btn:hover {
  border: 2px solid none;
  background-color: none;
  cursor: pointer;
  color: white;
  font-size: 17px;
}

.stats-btn {
  border: 2px solid none;
  background-color: none;
  padding: 5px;
}

.stats-btn:hover {
  border: 2px solid none;
  background-color: none;
  padding: 5px;
  cursor: pointer;
  color: white;
  font-size: 17px;
}

#bio-modal-content {
  background-color: none;
  border-color: #001b3a;
  transition: 0.5s ease;
  max-height: 70vh; /* para dar rolagem se necessário */
  overflow-y: auto; /* ativa a rolagem vertical */
  padding-bottom: 100px; /* cria um "espaço extra" no fim */
}
#bio-modal-content:hover {
  background-color: none;
  border-color: #ffffff;
  transition: 0.5s ease;
  max-height: 70vh; /* para dar rolagem se necessário */
  overflow-y: auto; /* ativa a rolagem vertical */
  padding-bottom: 100px; /* cria um "espaço extra" no fim */
}
#bioText {
  color: #001b3a;
  transition: 0.5s ease;
}
#bioText:hover {
  color: #ffffff;
  transition: 0.5s ease;
}

.palavra {
  text-transform: uppercase;
  font-weight: 350;
  transition: color 0.3s, transform 0.3s;
  cursor: default;
  transition: 0.5s ease;
  transform: translateY(10px);
  animation: aparecer 0.5s forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

.palavra:hover {
  color: #0160cb;
  box-shadow: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.5s ease;
  transform: scale(1.1);
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(2);
  }
}





/* ===== Intro inicial ===== */
.intro {
  position: fixed;
  inset: 0;
  background: #ffd700; /* fundo amarelo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1s ease 5s forwards; /* some após 5s */
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/* Nome do clube (voando letra por letra) */
.intro .club-name {
  display: flex;
  gap: 8px; /* espaçamento entre letras */
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #000; /* letras pretas */
  animation: fadeTextOut 0.8s ease 2.8s forwards; /* desaparece */
}

.intro .club-name span {
  opacity: 0;
  transform: translateY(60px) scale(0.8);
  animation: flyIn 0.6s ease forwards;
}

.intro .club-name span:nth-child(1) {
  animation-delay: 0.1s;
}
.intro .club-name span:nth-child(2) {
  animation-delay: 0.2s;
}
.intro .club-name span:nth-child(3) {
  animation-delay: 0.3s;
}
.intro .club-name span:nth-child(4) {
  animation-delay: 0.4s;
}
.intro .club-name span:nth-child(5) {
  animation-delay: 0.5s;
}
.intro .club-name span:nth-child(6) {
  animation-delay: 0.6s;
}
.intro .club-name span:nth-child(7) {
  animation-delay: 0.7s;
}
.intro .club-name span:nth-child(8) {
  animation-delay: 0.8s;
}
.intro .club-name span:nth-child(9) {
  animation-delay: 0.9s;
}
.intro .club-name span:nth-child(10) {
  animation-delay: 1s;
}
.intro .club-name span:nth-child(11) {
  animation-delay: 1.1s;
}
.intro .club-name span:nth-child(12) {
  animation-delay: 1.2s;
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Desaparecer o texto */
@keyframes fadeTextOut {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.club-subname {
  transform: translateY(60px) scale(0.8);
  animation: flyIn 0.6s ease forwards;
  font-weight: 450;
}

/* Escudo aparece no lugar do texto */
.intro .logo-container {
  position: absolute;
  opacity: 0;
  transform: scale(0.6);
  animation: logoReveal 1.2s ease forwards;
  animation-delay: 3s;
}

.intro .logo-container img {
  width: 200px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

@keyframes logoReveal {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

/* Fade final */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* ===== Transição entre páginas ===== */

/* ===== Transição de palavra ===== */
#word-transition {
  position: fixed;
  inset: 0;
  background: #ffd700; /* fundo dourado */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#word-transition.active {
  opacity: 1;
  visibility: visible;
}
#transition-word {
  display: flex;
  gap: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

/* Reuso da animação da intro */
@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1.2);
  }
}

/* Animação do zoom */
@keyframes zoomWord {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

#word-transition.active #transition-word {
  animation: zoomWord 5.2s ease forwards;
}
